<section>
  <p>🍔 Hamburguesas</p>

  <app-plato-item
    nombre="Tradicional"
    descripcion="Carne, queso, beicon, lechuga y tomate"
    precio="11,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Casino"
    descripcion="Carne, queso de cabra, beicon, cebolla caramelizada, lechuga y tomate"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Pollo a la plancha"
    descripcion="Pechuga de pollo, beicon, queso, lechuga y tomate"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Big crispy chicken"
    descripcion="Pollo crujiente con cereales, lechuga, tomate, beicon y queso"
    precio="10,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Crispy Chicken Kid"
    descripcion="Pollo crujiente con cereales, lechuga, tomate, beicon y queso"
    precio="9,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Vegana"
    descripcion="A base de guisantes, espárragos blancos, lechuga, tomate y cebolla"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Doble burguer"
    descripcion="Doble de carne, doble de queso, doble de beicon, lechuga y tomate"
    precio="16,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Smash Burguer Ali-Up"
    descripcion="200g de carne en dos medallones crujientes y jugosos, doble de beicon, doble de cheddar y salsa especial ALI-UP"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Ander’s"
    descripcion="Lechuga, tomate, doble carne smash, queso, beicon y salsa especial Ranchcoa"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Trufante"
    descripcion="Carne, queso, salteado de setas y mahonesa de trufa"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

</section>


