<section>
  <h2>🌮 Zipotes</h2>

  <app-plato-item
    nombre="Pollo crunchy"
    descripcion="Pollo crujiente, beicon, lechuga y salsa César"
    precio="9,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Jamón y queso"
    descripcion="Jamón cocido, cheddar y queso tierno"
    precio="6,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Mejicano"
    descripcion="Trío de pimientos, cebolla, tiras de pollo y especias aztecas"
    precio="8,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Zipoburguer"
    descripcion="Doble de carne smash, doble de queso, doble de beicon, lechuga, tomate, cebolla crispy y salsa especial"
    precio="12,90€">
  </app-plato-item>

</section>
