<section>
  <h2>🤝 Compartir es Vivir</h2>
  <p><strong>Perfectos para picar entre amigos o en familia.</strong></p>

  <app-plato-item
    nombre="Nachos"
    descripcion="Quesos fundidos, guacamole, beicon crispy y salsa ranchera"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Flores de alcachofa"
    descripcion="Con virutas de jamón ibérico y foie-grass"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Verduritas en tempura"
    descripcion="Con salsa de sojamiel"
    precio="10,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Alitas barbacoa"
    descripcion="Alitas de pollo fritas con salsa barbacoa casera y patatas"
    precio="9,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Patatas rancheras"
    descripcion="Patatas molonas con trío de quesos fundidos, beicon crunchy y salsa ranchera"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Patatas bravioli"
    descripcion="Con salsa brava casera y alioli"
    precio="7,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Queso frito"
    descripcion="Con dulce de piquillos"
    precio="9,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Croquetas caseras de jamón ibérico"
    precio="9,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Mollejas ibéricas al ajillo"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Huevos estrellados con jamón ibérico"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Huevos estrellados con torreznos"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Huevos estrellados con secreto ibérico"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Calamares"
    descripcion="A la andaluza"
    precio="12,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Cazón"
    descripcion="En adobo con alioli"
    precio="9,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Costijack´s"
    descripcion="Costillas glaseadas con Jack Daniel´s y miel"
    precio="12,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Carcamusas de la juana"
    descripcion="Con mucho lover"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Brochetas de pollo teriyaki"
    descripcion="Tacos de pollo marinado con adobo japonés y sésamo"
    precio="10,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Pollo popeye"
    descripcion="Tiras de pollo crujiente con patatas y, si quieres, alguna salsa"
    precio="9,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Nuggets"
    descripcion="Con patatas"
    precio="9,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

</section>
