<article class="evento-item card shadow p-3">
  <header>
    <h2>{{ titulo }}</h2>
    <time *ngIf="fecha" [attr.datetime]="fecha">{{ fecha | date:'longDate' }}</time>
  </header>

  <img [src]="imagen" [alt]="titulo" class="img-fluid rounded" (click)="openModal()" />

  <p *ngIf="descripcion">{{ descripcion }}</p>

  <footer *ngIf="enlace" class="evento-footer">
    <a [href]="enlace" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-leer-mas">
      Leer más
    </a>
  </footer>
</article>

<!-- MODAL (se reubica en <body>) -->
<div #overlay class="app-modal-overlay" *ngIf="showModal" (click)="closeModal()">
  <div class="app-modal-content" (click)="$event.stopPropagation()">
    <img [src]="imagen" [alt]="titulo" />
    <!--<button class="app-modal-close" (click)="closeModal()">✕</button> -->
  </div>
</div>
