<article
  class="evento-item card shadow p-3"
  [class.pasado]="esPasado"
  [class.inactivo]="!activo">

  <header>
    <h2>{{ titulo }}</h2>
    <p *ngIf="fechas && fechas.length > 0">
      {{ getFechasCompactas() }}
    </p>
  </header>

  <div class="evento-imagen" (click)="openModal()">
    <img [src]="imagen" [alt]="titulo" class="img-fluid rounded" />
  </div>

  <p *ngIf="descripcion">{{ descripcion }}</p>

  <footer *ngIf="imagen" class="evento-footer">
    <button
      class="btn-thematic btn-leer-mas"
      (click)="irADetalle()"
    >
      Leer más
    </button>
  </footer>

  <!-- Overlay visual para eventos pasados -->
  <div class="overlay" *ngIf="esPasado && activo">
    <span>Evento pasado</span>
  </div>

</article>

<!-- MODAL (se reubica en <body>) -->
<div #overlay class="app-modal-overlay" *ngIf="showModal" (click)="closeModal()">
  <div class="app-modal-content" (click)="$event.stopPropagation()">
    <img [src]="imagen" [alt]="titulo" />
  </div>
</div>
