<section>
  <h2>
    <lucide-icon name="salad" class="icon"></lucide-icon>
    Ensaladas
  </h2>

  <app-plato-item
    nombre="Ensalada Augusto"
    descripcion="Lechugas, pollo crujiente, parmesano, nueces, picatostes y salsa estilo César"
    precio="11,90€"
    [iconos]="['assets/sinGluten.png']">
  </app-plato-item>

  <app-plato-item
    nombre="Cabruna"
    descripcion="Lechugas, queso de cabra a la plancha, cherrys y mermelada de beicon"
    precio="11,90€">
  </app-plato-item>

</section>
