<section>
  <h2>
    <lucide-icon name="hamburger" class="icon"></lucide-icon>
    Molletes
  </h2>

  <app-plato-item
    nombre="Beicon"
    descripcion="Con queso cheddar y tomate"
    precio="7,50€">
  </app-plato-item>

  <app-plato-item
    nombre="Pollo a la plancha"
    descripcion="Con lechuga y guacamole"
    precio="7,50€">
  </app-plato-item>

  <app-plato-item
    nombre="Secreto ibérico"
    descripcion="Con queso cabrales y pimientos del piquillo"
    precio="8,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Philly steak"
    descripcion="Ternera glaseada, queso fundido y cebolla caramelizada"
    precio="8,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Jamón ibérico"
    descripcion="Con salmorejo"
    precio="7,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Pulled pork"
    descripcion="Carne de cerdo deshilachada con cebolla roja encurtida y salsa barbacoa 'By Dudu'"
    precio="8,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Calamares"
    descripcion="Con alioli"
    precio="7,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Pastrami"
    descripcion="Con mayonesa de parmesano y pepinillos"
    precio="9,90€">
  </app-plato-item>

</section>


