<section>
 <h2>
    <lucide-icon name="sandwich" class="icon"></lucide-icon>
    Sándwiches
  </h2>

  <app-plato-item
    nombre="Club"
    descripcion="Pollo a la plancha, beicon, huevo frito, lechuga, tomate, jamón cocido, queso y mayonesa"
    precio="10,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Salmón"
    descripcion="Salmón ahumado, lechuga, tomate, cebolla roja y mayo de pepinillos"
    precio="10,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Mixto"
    descripcion="Jamón cocido y queso tierno en tres pisos"
    precio="6,50€">
  </app-plato-item>

  <app-plato-item
    nombre="Vegetal"
    descripcion="Lechuga, tomate, espárragos, pepinillos y aguacate"
    precio="6,50€">
  </app-plato-item>

</section>

