<section>
  <h2>
    <lucide-icon name="pizza" class="icon"></lucide-icon>
    Pizzas
  </h2>


  <app-plato-item
    nombre="York chuky"
    descripcion="AOVE, tomate natural, mozzarella y jamón cocido"
    precio="11,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Casino"
    descripcion="AOVE, tomate natural, mozzarella, bacon y rodajas de tomate"
    precio="11,90€">
  </app-plato-item>

  <app-plato-item
    nombre="5 quesos"
    descripcion="AOVE, tomate natural, mozzarella, queso manchego, de cabra, cheddar y roquefort"
    precio="11,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Barbacoa"
    descripcion="AOVE, tomate natural, mozzarella, picada de ternera y bacon crispy"
    precio="11,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Atuntún"
    descripcion="AOVE, tomate natural, mozzarella, atún, cebolla caramelizada y bacon"
    precio="11,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Hortelana"
    descripcion="AOVE, tomate natural, mozzarella, calabacín, pimientos, espárragos, champiñón y berenjena"
    precio="11,90€">
  </app-plato-item>

</section>

