<section>
  <h2>🍕 Pizzas</h2>

  <app-plato-item
    nombre="York chuky"
    descripcion="AOVE, tomate natural, mozzarella y jamón cocido">
  </app-plato-item>

  <app-plato-item
    nombre="Casino"
    descripcion="AOVE, tomate natural, mozzarella, bacon y rodajas de tomate">
  </app-plato-item>

  <app-plato-item
    nombre="5 quesos"
    descripcion="AOVE, tomate natural, mozzarella, queso manchego, de cabra, cheddar y roquefort">
  </app-plato-item>

  <app-plato-item
    nombre="Barbacoa"
    descripcion="AOVE, tomate natural, mozzarella, picada de ternera y bacon crispy">
  </app-plato-item>

  <app-plato-item
    nombre="Atuntún"
    descripcion="AOVE, tomate natural, mozzarella, atún, cebolla caramelizada y bacon">
  </app-plato-item>

  <app-plato-item
    nombre="Hortelana"
    descripcion="AOVE, tomate natural, mozzarella, calabacín, pimientos, espárragos, champiñón y berenjena">
  </app-plato-item>

</section>

