<section>
  <h2>
    <lucide-icon name="coffee" class="icon"></lucide-icon>
    Cafés Especiales
  </h2>


  <app-plato-item nombre="Chocolate con nata" precio="2,80€"></app-plato-item>
  <app-plato-item nombre="Café irlandés" precio="6,50€"></app-plato-item>
  <app-plato-item nombre="Café Toffe Caramelo" precio="2,80€"></app-plato-item>
  <app-plato-item nombre="Capuccino de vainilla" precio="2,80€"></app-plato-item>
  <app-plato-item nombre="Matcha caliente o frío" precio="3,00€"></app-plato-item>
  <app-plato-item nombre="Batidos naturales" descripcion="Con nata y sirope" precio="5,80€"></app-plato-item>

</section>


