<section>
  <h2>
    <lucide-icon name="star" class="icon"></lucide-icon>
    Especiales
  </h2>

  <app-plato-item
    nombre="Carcamusas de la juana"
    descripcion="Con mucho love"
    precio="10,90€"
    [iconos]="['https://casinorockbar.com/media/sinGluten.webp']">
  </app-plato-item>

  <app-plato-item
    nombre="Costijack's"
    descripcion="Costillas glaseadas con Jack Daniel's y miel"
    precio="12,90€"
    [iconos]="['https://casinorockbar.com/media/sinGluten.webp']">
  </app-plato-item>

  <app-plato-item
    nombre="Brochetas de pollo teriyaki"
    descripcion="Tacos de pollo marinado con adobo japonés y sésamo"
    precio="10,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Brochetas de solomillo ibérico con verduritas y salsa oriental"
    precio="13,90€">
  </app-plato-item>

</section>
