<section>
  <h2>
    <lucide-icon name="sandwich" class="icon"></lucide-icon>
    Tostas
  </h2>

  <app-plato-item
    nombre="Cecina ahumada"
    descripcion="Cecina ahumada, queso ricotta, mermelada casera y aceite de Esquivias"
    precio="8,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Solomillo de cerdo"
    descripcion="Escalivada de pimientos y setas con salsa barbacoa japonesa y parmesano"
    precio="8,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Salmón ahumado"
    descripcion="Crema de queso y guacamole, rodajas de tomate y lechuga"
    precio="8,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Pollo"
    descripcion="Sobrasada con pollo marinado, queso de cabra, cebolla crujiente y mayobeicon"
    precio="8,90€">
  </app-plato-item>

</section>
