<section>
  <h2>🍰 Postres</h2>

  <app-plato-item nombre="Tortitas" precio="4,50€"></app-plato-item>
  <app-plato-item nombre="Gofres" precio="4,50€"></app-plato-item>
  <app-plato-item nombre="Coulant" precio="6,00€"></app-plato-item>
  <app-plato-item nombre="Tarta de queso" precio="5,50€"></app-plato-item>
  <app-plato-item nombre="Pirulo" precio="2,50€"></app-plato-item>
  <app-plato-item nombre="Cono vainilla" precio="3,90€"></app-plato-item>
  <app-plato-item nombre="Maxibon cookies" precio="3,90€"></app-plato-item>

</section>

