<section>
  <h2>
    <lucide-icon name="cake-slice" class="icon"></lucide-icon>
    Postres
  </h2>


  <app-plato-item nombre="Gofre" descripcion="Con nata y sirope" precio="4,50€"></app-plato-item>
  <app-plato-item nombre="Tortitas" descripcion="Con nata y sirope" precio="4,50€"></app-plato-item>
  <app-plato-item nombre="Tarta de queso" precio="5,80€"></app-plato-item>
  <app-plato-item nombre="Tarta Muerte por Chocolate" precio="5,80€"></app-plato-item>
  <app-plato-item nombre="Bomballetas"  precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Crepes rellenos"  precio="4,50€"></app-plato-item>
  <app-plato-item nombre="Brownie" descripcion="Con helado de vainilla" precio="6,00€"></app-plato-item>
  <app-plato-item nombre="Coulant" descripcion="Con helado de vainilla" precio="6,00€"></app-plato-item>
  <app-plato-item nombre="Muffins XXL" descripcion="De manzana y canela, o chocolate" precio="5,80€"></app-plato-item>

</section>

