<section>
  <h2>🍺 Cervezas Especiales</h2>

  <app-plato-item nombre="Franziskaner" precio="4,50€"></app-plato-item>
  <app-plato-item nombre="Hoegaarden" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="San Miguel Selecta" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Alhambra roja" precio="4,00€"></app-plato-item>
  <app-plato-item nombre="Alhambra verde" precio="4,00€"></app-plato-item>
  <app-plato-item nombre="Stella Artois" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Pacifico" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Brutus" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Leffe Brune" precio="4,00€"></app-plato-item>
  <app-plato-item nombre="Magna" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Alhambra IPA" precio="4,30€"></app-plato-item>
  <app-plato-item nombre="Budweiser" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Corona" precio="3,80€"></app-plato-item>
  <app-plato-item nombre="Mahou reserva" precio="4,00€"></app-plato-item>

</section>

