@font-face {
  font-family: 'DM Serif Display';
  src: url('/assets/fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('/assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Unica One';
  src: url('/assets/fonts/Unica_One/UnicaOne-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Tenor Sans';
  src: url('/assets/fonts/Tenor_Sans/TenorSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('/assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Forum';
  src: url('/assets/fonts/Forum/Forum-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Uncial Antiqua';
  src: url('/assets/fonts/Uncial_Antiqua/UncialAntiqua-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MountainsofChristmas';
  src: url('/assets/fonts/MountainsofChristmas/MountainsofChristmas-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MountainsofChristmas-Bold';
  src: url('/assets/fonts/MountainsofChristmas/MountainsofChristmas-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  src: url('/assets/fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel/static/Cinzel-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel/static/Cinzel-Medium.ttf') format('truetype');

}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel/static/Cinzel-SemiBold.ttf') format('truetype');

}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel/static/Cinzel-Bold.ttf') format('truetype');

}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel/static/Cinzel-ExtraBold.ttf') format('truetype');

}

@font-face {
  font-family: 'Cinzel';
  src: url('/assets/fonts/Cinzel/static/Cinzel-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/Bebas_Neue/BebasNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Barrio';
  src: url('/assets/fonts/Barrio/Barrio-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/assets/fonts/Pacifico/Pacifico.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

