<section>
  <h2>
    <lucide-icon name="wine" class="icon"></lucide-icon>
    Cócteles
  </h2>

  <app-plato-item nombre="Mojito tradicional" precio="7,50€"></app-plato-item>
  <app-plato-item nombre="Mojito de fresas" precio="7,50€"></app-plato-item>
  <app-plato-item nombre="Piña colada" precio="7,50€"></app-plato-item>
  <app-plato-item nombre="Caipiriña" precio="7,50€"></app-plato-item>
  <app-plato-item nombre="Agua de Valencia" precio="7,50€"></app-plato-item>

</section>

<section>
  <h2>
    <lucide-icon name="glass-water" class="icon"></lucide-icon>
    Cócteles Sin Alcohol
  </h2>

  <app-plato-item
    nombre="Sobertool"
    descripcion="Zumo de lima, menta y melón"
    precio="4,90€">
  </app-plato-item>

  <app-plato-item
    nombre="Kasin0%"
    descripcion="Zumo multifrutas, granadina y kiwi"
    precio="4,90€">
  </app-plato-item>

</section>
