<section>
  <h2>🍚 Arroces por Encargo</h2>

  <app-plato-item nombre="Arroz Senyoret" precio="16,00€ / persona"></app-plato-item>
  <app-plato-item nombre="Arroz Negro de calamar, gambón y alioli" precio="14,00€ / persona"></app-plato-item>
  <app-plato-item nombre="Paella Valenciana auténtica" precio="14,00€ / persona"></app-plato-item>
  <app-plato-item nombre="Paella de Verduras" precio="13,00€ / persona"></app-plato-item>
  <app-plato-item nombre="Arroz Caldoso Marinero" precio="16,00€ / persona"></app-plato-item>
  <app-plato-item nombre="Arroz meloso de secreto y setas con foie-grass" precio="16,00€ / persona"></app-plato-item>

</section>


